body{
  background-image:url("wifi3.jpg");
  color: beige;
  font-family: times new roman;
  font-size: 30px;
  padding: 0px;              
  margin: 0;  
  font-weight: bold;       
    }

.subscribe-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
 background-color: red;
  color: white;
  font-size: 18px;
  padding: 14px 28px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  animation: bounce 2s infinite;
 
}

.subscribed{
  background-color: grey;
  color: black
}
#subscribe-button:disabled{
  background-color: grey;
  color: black;
  cursor: not-allowed;
}
.mpesa-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: rgb(95, 252, 95);
  color: white;
  font-size: 18px;
  padding: 14px 28px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.paypal-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: rgb(0, 64, 255);
  color: black;
  font-size: 18px;
  padding: 14px 28px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-radius: 16px;
      box-shadow: 0 2px 10px rgba(238, 227, 227, 0.05);
    
    }
 nav a {
      margin: 0 15px;
      text-decoration: none;
      color:black;
      font-weight: bold;
      font-size: medium;
    }
nav a:hover {
        color:red;
        font:underline;
}
    .header {
      text-align: center;
      font-size: 30px;
      font-weight: bolder;

    }
.h1 , h2 {
  text-align: center;
}


.header img{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
    }

 