body{
    background-color:#d4c2fe;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 20px;
    color:black;
    font-size: large;   
}
 .box-container {
    display: flex;
    gap :20px;
    padding:20px;
    flex-wrap:nowrap;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1200px;
 }
.box {
   flex: 1 1 30%;
    min-width: 250px;
    max-width: 350px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    background: #c6aeff;
    transition: transform 0.3s, background-color 0.3s;
}
.box:hover {
    background-color:rgb(176, 156, 255) ;
    transform: scale(1.02);
}
.container {
     max-width: 1200px;
     margin: auto;
     padding: 2rem;
    }
    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color:rgb(171, 154, 247);
      padding: 20px;
      border-radius: 16px;
      box-shadow: 0 2px 10px rgba(238, 227, 227, 0.05);
    
    }
    nav a {
      margin: 0 15px;
      text-decoration: none;
      color:black;
      font-weight: bold;
      font-size: medium;
    }
    nav a:hover {
        color:red;
        font:underline;

    }
    .header img{
      width: 200px;
      height: 200px;
      border-radius:50%;
      object-fit: cover;
    }
    .header intro{
      flex: 1;
    }
    .section-title {
      font-size: 30px;
      margin-bottom: 1rem;
      color: black;

    }
    .projects{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 1.5rem;
      margin-top: 2rem;
    }
    .about-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px auto;
  padding: 20px;
  justify-content: space-between;
  max-width: 1200px;
}

.about-section img {
  width: 250px;
  border-radius: 50%;
  height: 200px;
}

.about-box {
  max-width: 400px;
  background-color: rgb(176, 156, 255);
  padding: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-height: 400px;
}
.moving-text {
  overflow: hidden;
  white-space:nowrap;
  width: 300px;
  height: 100px;
  position: relative;
}

.moving-text p {
  position: absolute;
  animation: scrollText 8s linear infinite;
  font-weight: 800px;
  color:black;
  font: size 150px;;
}

@keyframes scrollText {
  0%   { left: 100%; }
  100% { left: -100%; }
}
   